<?xml version="1.0" encoding="utf-8" standalone="no"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.winlator">
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.vr.headtracking"
        android:required="false" />
    <uses-feature
        android:name="com.oculus.feature.PASSTHROUGH"
        android:required="false" />
    <uses-feature
        android:name="oculus.software.handtracking"
        android:required="false" />
    <uses-feature
        android:name="oculus.software.overlay_keyboard"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS"/>
    <uses-permission android:name="android.permission.VIBRATE"/>
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT"/>

    <application
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme"
        android:appCategory="game"
        android:isGame="true"
        android:extractNativeLibs="true"
        android:allowAudioPlaybackCapture="true"
        android:label="@string/app_name">

        <activity android:name="com.winlator.MainActivity"
            android:theme="@style/AppTheme"
            android:exported="true"
            android:screenOrientation="sensor"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|density|navigation">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="com.winlator.XServerDisplayActivity"
            android:exported="false"
            android:theme="@style/AppThemeFullscreen"
            android:launchMode="singleTask"
            android:supportsPictureInPicture="true"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize|screenLayout|smallestScreenSize|density|navigation"
            android:screenOrientation="sensorLandscape" />

        <activity
            android:name="com.winlator.XrActivity"
            android:configChanges="density|orientation|screenSize|keyboard|keyboardHidden|uiMode"
            android:exported="true"
            android:launchMode="singleTask"
            android:resizeableActivity="false"
            android:screenOrientation="landscape"
            android:process=":vr_process"
            android:theme="@style/AppThemeFullscreen">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="com.oculus.intent.category.VR" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.winlator.ControlsEditorActivity"
            android:exported="false"
            android:theme="@style/AppThemeFullscreen"
            android:screenOrientation="sensor" />

        <activity android:name="com.winlator.ExternalControllerBindingsActivity"
            android:theme="@style/AppTheme"
            android:exported="false"
            android:screenOrientation="sensor" />

        <provider
            android:name=".core.WinlatorFilesProvider"
            android:authorities="com.winlator.core.WinlatorFilesProvider"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER" />
            </intent-filter>
        </provider>

        <!-- X11 Activity (Termux-X11 style) -->
        <activity
            android:name=".X11Activity"
            android:taskAffinity=".X11Activity"
            android:supportsPictureInPicture="true"
            android:configChanges="fontScale|orientation|screenSize|keyboard|keyboardHidden|layoutDirection|locale|mcc|mnc|navigation|screenLayout|touchscreen|uiMode|smallestScreenSize|density"
            android:resizeableActivity="true"
            android:windowSoftInputMode="stateHidden"
            android:exported="true">
            <intent-filter>
                <category android:name="android.intent.category.SECONDARY_HOME" />
            </intent-filter>
            <meta-data
                android:name="android.app.shortcuts"
                android:resource="@xml/shortcuts" />
        </activity>

        <meta-data
            android:name="com.samsung.android.multidisplay.keep_process_alive"
            android:value="false"/>
        <meta-data
            android:name="android.allow_multiple_resumed_activities"
            android:value="true" />

        <!-- Accessibility service for KeyInterceptor -->
        <service
            android:name=".x11utils.KeyInterceptor"
            android:label="Winlator:X11 KeyInterceptor"
            android:exported="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
    </application>
</manifest>
